<!-- ========== INCLUDES: header.html ========== -->
<!-- App header starts -->
<div class="app-header d-flex align-items-center">
    <!-- Toggle buttons start -->
    <div class="d-flex col">
        <button class="toggle-sidebar" id="toggle-sidebar">
            <i class="bi bi-list lh-1 text-white"></i>
        </button>
        <button class="pin-sidebar" id="pin-sidebar">
            <i class="bi bi-list lh-1 text-white"></i>
        </button>
    </div>
    <!-- Toggle buttons end -->

    <!-- App brand starts -->
    <div class="app-brand py-2 col">
        <a href="index.html">
            <img src="assets/images/logo.svg" class="logo" alt="Fix Care" />
        </a>
    </div>
    <!-- App brand ends -->

    <!-- App header actions start -->
    <div class="header-actions col">
        <div class="d-lg-flex d-none align-items-center gap-2">
            <div class="dropdown">
                <a class="dropdown-toggle header-action-icon" href="#!" role="button" data-bs-toggle="dropdown">
                    <i class="bi bi-grid fs-5 lh-1 text-white"></i>
                </a>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle header-action-icon" href="#!" role="button" data-bs-toggle="dropdown">
                    <i class="bi bi-exclamation-triangle fs-5 lh-1 text-white"></i>
                    <span class="count-label">7</span>
                </a>
            </div>
        </div>
        <div class="dropdown ms-3">
            <a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center text-decoration-none" href="#!"
                role="button" data-bs-toggle="dropdown">
                <img src="assets/images/user2.png" class="rounded-2 img-3x" alt="Fix Care" />
                <div class="ms-2 text-truncate d-lg-block d-none text-white">
                    <span class="d-flex opacity-50 small">Admin</span>
                    <span>Taylor Franklin</span>
                </div>
            </a>
        </div>
    </div>
    <!-- App header actions end -->
</div>
<!-- App header ends -->