<!-- ============================================
     FIX_CARE_APP_JS/views/sidebar.html
     ============================================ -->
<!-- Sidebar wrapper start -->
<nav id="sidebar" class="sidebar-wrapper">
    <!-- Sidebar profile starts -->
    <div class="sidebar-profile">
        <img src="assets/images/user3.png" class="profile-user mb-3" alt="Admin Dashboard" />
        <div class="text-center">
            <h6 class="profile-name m-0 text-nowrap text-truncate">
                Floyd Howard
            </h6>
        </div>
    </div>
    <!-- Sidebar profile ends -->

    <!-- Sidebar menu starts -->
    <div class="sidebarMenuScroll">
        <ul class="sidebar-menu">
            <li>
                <a href="index.html">
                    <i class="bi bi-pie-chart"></i>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="alta-usuario.html">
                    <i class="bi bi-person-plus"></i>
                    <span class="menu-text">Alta Usuario</span>
                </a>
            </li>
            <li>
                <a href="alta-ticket.html">
                    <i class="bi bi-ticket-perforated"></i>
                    <span class="menu-text">Alta Ticket</span>
                </a>
            </li>
            <li>
                <a href="alta-organizacion.html">
                    <i class="bi bi-building"></i>
                    <span class="menu-text">Alta Organización</span>
                </a>
            </li>
            <li>
                <a href="vinculacion.html">
                    <i class="bi bi-link-45deg"></i>
                    <span class="menu-text">Vinculación</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidebar menu ends -->
</nav>
<!-- Sidebar wrapper end -->